@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

input:focus{
  outline: none;
}
input{
  font-weight: 500;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 500;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slider-button:hover{
  background: rgb(224, 224, 224);
}

.category-btn:hover{
  color:black;
}